
ul{

    display: flex;
    overflow-x: auto;

    padding: 0 .6rem .6rem .6rem;
    height: 45vh;
    width: inherit;
    gap: 1rem;
    
}

@media(min-width: 820px){

    .ul{
        overflow: auto;
        flex-wrap: wrap;

        height: 80vh;
    }
}



