*{
    box-sizing: border-box;
}

header{
    background-color: #F5F5F5;
    height: inherit;
    padding-bottom: .7rem;
}

.logo{
    height: 3rem;
    width: inherit;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: .2rem;
}

.logo h1{
    margin-bottom: .6rem;
    color: #333333;

    font-size: 1.5rem;
}

.logo h3{
    margin-bottom: .7rem;
    color: #EB5757;

    font-size: 1rem;
}

.nav_bar{
    position: relative;

    display: flex;
    justify-content: space-evenly;
}

.nav_bar input{
    
    border-style: none;
    border: 2px solid #E0E0E0;
    border-radius: .3rem;
    height: 2.3rem;
    width: 95%;
    padding-left: .5rem;
    
}

.nav_bar input::placeholder{
    color: #E0E0E0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: .8rem;

    max-width: 65%;
}

.nav_bar button{
    position: absolute;
    top: 12.8%;
    right: 3.8%;

    padding: .35rem;
    border-style: none;
    border-radius: .3rem;

    background-color: #27AE60;
    color: #ffffff;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

